body {
    font-family: 'Varela Round', sans-serif;
}

:root {
    --color1: rgb(28, 28, 73);
    --color2: rgb(212, 200, 200);
}

body {
    display: grid;
    justify-content: center;
}

h1, h2 {
    text-align: center;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: fit-content;
    gap: 3px;
    /* background-color: var(--color1); */
}

#board > div {
    /* border: 3px solid black; */
    height: 100px;
    width: 100px;
    background-color: var(--color2);
    border-radius: 5px;
    padding: 10px;
    font-size: 6rem;
    display: grid;
    justify-content: center;
    align-content: center;
}

.reset {
    display: grid;
    justify-content: center;
}

button {
    width: 300px;
    height: 50px;
    font-size: 2rem;
}

button:hover {
    cursor: pointer;
}